:root {
	--bg: #24292D;
	--btn_bg: #e1555a;
	--btn_hover_bg: #9c6b6c;
	--main-text-color: #CCCCCC;
	--sub-text-color: #FFCC00;
	--error-text-color: #F82F62;
}

html, body{
	height : 100%;
	width : 100%;
}

body{
	background-color : var(--bg);
}

.main_Con{
	width : 100%;
	height : 100%;
	display : flex;
}

.user{
	width : 90%;
	height : 20%;
	margin : 5%;
	border : solid 5px #fff;
	border-radius : 5%;
	background-color : var(--sub-text-color);
	display : flex;
}

.user .user_imgCon, .user_idCon{
	width : 50%;
	height : 100%;
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
	align-content : center;
	overflow : hidden;
}

.user img{
	width : 150px;
	height : 150px;
	border : solid 2px #fff;
	border-radius : 100%;	
	object-fit : cover;
}

.user p{
	margin-left : 5%;
	
}

/* left-area */
.left_Con{
	width : 30%;
}

/* left-area end */

/* chat-area */
.mid_Con{
	text-align : center;
	width : 40%;
}

.mid_Con .rname{
	color : var(--main-text-color);
}

.mid_Con button{
	background-color : var(--btn_bg);
}

.mid_Con button:hover{
	background-color: var(--btn_hover_bg);	
}

.mid_Con .ready_btn, .exit_btn{
	margin : 3%;
	width : 35%;
	height : 5vh;
}

.mid_Con .ready_btn.done {
	background-color : var(--sub-text-color);
}

.mid_Con .chat{
	width : 100%;
	height : 80%;
}

.mid_Con .chat .chat_view{
	color : var(--main-text-color);	
	height : 65%;
	width : 90%;
	margin-left : 5%;
	margin-top : 5%;
	background-color : var(--bg);
	border : solid 2px #FFF;
	border-radius : 10%;
	overflow : auto;
}

.mid_Con .chat .chat_view span{
	display : block;
	color : var(--sub-text-color);
	font-weight : bold;
}

.mid_Con .chat .chat_input{
	text-align : center;
	width : 90%;
	height : 20%;
	margin-left : 5%;	
	margin-top : 5%;		
}

.mid_Con .chat .chat_input input{
	width : 75%;
	height : 50%;
	overflow : auto;
	background-color : var(--bg);
	color : var(--main-text-color);
	border : solid 2px #FFF;
	border-radius : 5%;
	font-size : 1.2rem;
}

.mid_Con .chat .send_btn{
	width : 20%;
	height : 50%;
	border-radius : 50%;	
}

/* chat-area end */

/* right-area */
.right_Con{
	width : 30%;	
}
/* right-area end */